[2020-11-10 13:05] #215 closed, assigned to utnaf

[2020-11-10 16:42] moxious commented on #189
Closing as everything is done and live.  Some issues still being resolved on developer pages, but no other actions are needed here.

[2020-11-10 16:42] #189 closed, assigned to moxious

[2020-11-10 17:00] moxious commented on #244
All release actions complete, except the spark packages bit.   Any update there @conker84 ?   Otherwise we can close this ticket and work spark packages separately

[2020-11-11 21:56] vishwasjione commented on #48
Could you please help me with how do you see content of "data" below

val data = neo.cypher("MACH (n:Person) RETURN n LIMIT 100").loadRowRdd

[2020-11-12 14:07] moxious commented on #235
published here: https://spark-packages.org/package/neo4j-contrib/neo4j-connector-apache-spark_2.11

and here: https://spark-packages.org/package/neo4j-contrib/neo4j-connector-apache-spark_2.12

[2020-11-12 14:10] moxious commented on #235
solved for now; @conker84 investigating whether this can be done via maven central publishing

[2020-11-12 14:13] moxious commented on #193
use this https://hub.docker.com/layers/neo4j/neo4j-experimental/4.2.0-drop07-enterprise/images/sha256-1f4691c56f8f5a24397947e1ed1c7cd1c28c4b48752284dd9f1a6b3b3a96ca46?context=explore

[2020-11-12 14:17] moxious commented on #213
example: python type mapping -- needs coverage

[2020-11-12 20:36] vishwasjione opened #250 "Spark Connector - Saving Data Back to Neo4j"
Hi,
Can I save Spark Dataframe back to neo4j ?

df.printSchema()
root
 |-- City: string (nullable = true)
 |-- zip: integer (nullable = true)

 df.write
     .format("????????????????")
    .option("url", "bolt://localhost:7687")
    .option("query", "CREATE (n:City {Name: event.City})")
    .save()

I am not sure what value I should give to format option here.
I am using Spark neo4j connector 2.4

[2020-11-16 11:37] conker84 commented on #250
Hi @vishwasjione and thanks for reaching us,
you should move to the Neo4j spark connector v `4.0`:

https://neo4j.com/developer/spark/

[2020-11-16 11:39] conker84 commented on #244
I'm closing this as we have #235

[2020-11-16 11:39] #244 closed, assigned to nobody

[2020-11-16 12:43] conker84 commented on #246
@samminen we did the official release, following a simple guide that allows you to import the new Spark Connector via maven:

https://github.com/neo4j-contrib/neo4j-spark-connector/blob/4.0/doc/docs/modules/ROOT/pages/quick-java-example.adoc

Cheers
Andrea

[2020-11-16 12:44] conker84 commented on #246
I'm closing this feel free to reopen in case you got any issue with importing the connector in your project

[2020-11-16 12:44] #246 closed, assigned to nobody

[2020-11-16 14:23] vishwasjione commented on #250
Thanks @conker84
Good Morning , Could you please provide maven repository details for this latest driver so that I can use it .

Thanks

[2020-11-16 14:47] conker84 commented on #250
@vishwasjione you can look here:
https://github.com/neo4j-contrib/neo4j-spark-connector/blob/4.0/doc/docs/modules/ROOT/pages/quick-java-example.adoc

[2020-11-17 02:29] vishwasjione opened #252 ""Ignore" is not supported in this 4.0 release ??"
It is a part of the JAR but when we use it in the code while saving dataframe, it errors out.

Exception in thread "main" java.lang.IllegalArgumentException: Unsupported SaveMode.
You provided Ignore, supported are:
Overwrite,ErrorIfExists,Append

Thanks

[2020-11-17 08:22] conker84 commented on #252
No please read the documentation::
https://neo4j.com/developer/spark/writing/#bookmark-save-mode

[2020-11-17 08:23] conker84 commented on #250
I'm closing this since you seem able to import the library (see #252)

[2020-11-17 08:23] #250 closed, assigned to nobody

[2020-11-17 18:20] vishwasjione opened #253 "AWS Glue error when I use connector 4.0 version"
Hi,

    someDF.write
      .format(classOf[org.neo4j.spark.DataSource].getName)
      .option("url", "bolt://XXXXXXXXXX")
      .option("authentication.type", "basic")
      .option("authentication.basic.username", "neo4j")
      .option("authentication.basic.password", "###")
      .option("batch.size", 5000)
      .mode(SaveMode.Overwrite)
      .option("node.keys", "number,word")
      .option

[2020-11-18 08:37] conker84 commented on #253
Hi @vishwasjione following a couple of questions:

* Can you share the full stack trace?
* What spark (and scala) version are you using?
* How did you install the plugin?

[2020-11-19 11:54] #193 closed, assigned to conker84

[2020-11-19 12:43] vishwasjione commented on #253
Hi @conker84
GM . .thanks for response

1.  Using Neo4j 4.0.4 & Scala 2.11.1 & Spark 2.4.4
2.  Downloaded mvn thing http://dl.bintray.com/spark-packages/maven/neo4j-contrib/neo4j-connector-apache-spark_2.11/

will provide more updates later in the day

Thanks
Vishwas

[2020-11-19 13:55] conker84 opened #254 "Returning a function from a query breaks in 3.5"
Returning a function from a query breaks in 3.5:

[code]

Causes the following exception:
[code]

[2020-11-19 16:03] conker84 opened #256 "Improve quoting function"
The `CypherImplicits#quote` method does not consider `$foo` a field name that must be quoted in Cypher because `$foo` is a valid java field name name.

[2020-11-20 14:20] #256 closed, assigned to nobody

[2020-11-20 14:23] #254 closed, assigned to nobody

[2020-11-20 14:29] moxious commented on #206
Need to consider release strategy going forward when this work is done.   JARs which are released need to be versioned according to:

- Connector version (4.0.0)
- Scala version (2.1.1)
- Spark version (2.4 vs. 3.0)

mvn sub-modules; business logic vs. spark specifics.  Spark 3.0 deprecated scala 2.11 & added support for scala 2.13

[2020-11-20 14:34] moxious opened #259 "Neo4j 4.2.1 drivers"
Consider if/when we want to update the driver.

- Potential con:  4.2.1 drivers rescind support for Neo4j 3.4

https://github.com/neo4j/neo4j-java-driver/releases/tag/4.2.0

[2020-11-20 14:36] moxious opened #260 "Move CI system to GitHub Actions"
Investigate

[2020-11-27 16:02] smithna opened #261 "Incorrect pushdown query for relationship"
It appears that the pushdown query is running incorrectly when I try to select some columns. It works for `<rel.id>`, `<source.id>`, and `<target.id>`, but not for `<rel.type>`, `<source.labels>`, and `<target.labels>`

I use a relationship query to return a dataframe. I can show() the dataframe, and see all the column labels. However, if I try to run a query like this, I get the error below. I am

[2020-12-01 07:07] utnaf commented on #261
Hi @smithna, this is a good catch! Can be easily reproduced.

If you want to avoid the error in the meantime just set the `.option("pushdown.columns.enabled", "false")` when creating the DataFrame.

[2020-12-02 09:55] utnaf opened #262 "Add support for Spark Structured Streaming API"
It might be useful to add support for Structured Streaming API for both Spark 2.4 and Spark 3.0 (#206)

https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html

https://spark.apache.org/docs/2.4.5/structured-streaming-programming-guide.html

fyi @conker84

[2020-12-02 10:48] conker84 commented on #199
closed via 60651a3

[2020-12-02 10:48] #199 closed, assigned to utnaf

[2020-12-02 21:52] smithna commented on #261
Thanks @utnaf. It's not a blocker for us. Really happy to be using this tool.

[2020-12-04 11:32] moxious opened #263 "GDS-import and neo4j-admin import support (planning)"
We have this repo here, which is a proof of concept of how Spark can be made to format CSV files in accordance with neo4j-admin import.  In this mode, the idea would be to write a set of files that neo4j-admin import can process, and to do import that's offline (non-transactional)

This is just a prototype:  https://github.com/moxious/gds-import

Point of this ticket is for brainstorming discussio

[2020-12-07 18:50] steveblackmon opened #264 "support for bolt+routing"
Add support for bolt+routing scheme, permitting write to causal cluster without knowing the IP address of the leader on a specific database

[2020-12-08 15:58] aaramg opened #265 "Unwind on array of objects crashes"
Hi.
Here is my code I want to run and do writing in Neo4j and I get an error.
I don't know from where it takes "type" field name. I guess the problem is coming from UNWIND on array of objects.
I guess it does not work as expected.

[code]
[code]
Smth like this:
[code]

[code]
It crashes. Here is the stacktrace:
[code]

[2020-12-09 13:00] utnaf commented on #265
Hi @aaramg! Thanks for the detailed report 🙏  We actually found a bug on our side. We'll fix it asap! I'll keep you posted.

Thanks for the catch

[2020-12-09 21:13] moxious opened #266 "Verify LDAP Basic Authentication"
See https://neo4j.com/docs/driver-manual/current/client-applications/

Authentication type basic can work with LDAP, but need to verify how the token is formed and how that is expressed in terms of login.

[2020-12-11 09:06] conker84 commented on #264
@steveblackmon We use the java driver so we support it out of the box, can you detail your use case?

[2020-12-11 14:25] moxious commented on #266
I think you can test this by submitting an opaque access token --

I think (need to verify) that username/password ends up being BASE_65("username:password") submitted as an opaque token.

Verify this by trying `authentication.custom.credentials` with this value.  If you can authenticate this way (or by tweaking th string somehow) then we're probably in good shape.

Extra bit is to document this.

[2020-12-11 15:22] utnaf commented on #265
Hi @aaramg, here's the PR that fixes this #267

Here you can find the jar packaged from that PR, let me know if your issue is fixed.
[neo4j-connector-apache-spark_2.11-4.0.0_patch_265.jar.zip](https://github.com/neo4j-contrib/neo4j-spark-connector/files/5679988/neo4j-connector-apache-spark_2.11-4.0.0_patch_265.jar.zip)

[2020-12-11 15:24] utnaf commented on #261
Hi @smithna, #268 is the PR that fixes this issue!

While we release, here's the jar packaged from that branch, let me know your issue is fixed.
[neo4j-connector-apache-spark_2.11-4.0.0_patch_261.jar.zip](https://github.com/neo4j-contrib/neo4j-spark-connector/files/5680013/neo4j-connector-apache-spark_2.11-4.0.0_patch_261.jar.zip)

[2020-12-11 15:27] smithna commented on #261
Thank you very much @utnaf. I will check it out and get back to you early next week.

[2020-12-11 21:00] aaramg commented on #265
Hi @utnaf
Thank you for such a great and fast support. I tried the jar which you gave me. But now I get this error:
[code]
I guess maybe one of these versions causes this error (especially scala version):
[code]
I cannot change Scala version to 2.11. It will make crashes on the other libs. Could you plz help me to figure out. I guess you should give me 2.12 version of the jar smth like this: neo4j

[2020-12-12 08:01] utnaf commented on #265
Ops... my bad @aaramg ! Totally forgot to check your scala version.

Just so you know, this connector is packaged with Spark 2.4.5 but shouldn't be a big deal.

[neo4j-connector-apache-spark_2.12-4.0.0_patch_265.jar.zip](https://github.com/neo4j-contrib/neo4j-spark-connector/files/5682677/neo4j-connector-apache-spark_2.12-4.0.0_patch_265.jar.zip)

[2020-12-12 09:19] aaramg commented on #265
Hi @utnaf it worked. Thank you for your support. :)

[2020-12-12 09:20] utnaf commented on #265
Welcome! Have a great weekend and stay safe :)

[2020-12-25 18:21] waelAbass opened #269 "Unable to convert java.sql.Timestamp to Neo4j Value"
I am using spark 2.4.1 and  neo4j-spark-connector 2.4.5-M1  and I get the following exception :
 Task 162 in stage 32.0 failed 1 times, most recent failure: Lost task 162.0 in stage 32.0 (TID 1020, localhost, executor driver): org.neo4j.driver.exceptions.ClientException: **Unable to convert java.sql.Timestamp to Neo4j Value.**
	at org.neo4j.driver.Values.value(Values.java:134)
in the following lin

[2020-12-26 19:53] waelAbass commented on #132
I am using maven and I want  dependency for neo4j-spark-connector-full-2.4.5-M1.jar.zip

[2020-12-26 20:15] waelAbass commented on #269
@Andrea Santurbano

[2021-01-05 19:33] L4R4 opened #272 "Spark job dont stop and too many executors consuming avalaible resources on cloud"
Enviroment:
Spark 2.4.2 in Stand-Alone Mode (i try in Mesos too)
Scala 2.12.7
Neo4j 3.5.4

When I try a code like the documentation example:

[Main.txt](https://github.com/neo4j-contrib/neo4j-spark-connector/files/5772151/Main.txt)

Using this maven configuration:

[pom.txt](https://github.com/neo4j-contrib/neo4j-spark-connector/files/5772156/pom.txt)

The spark job give me results, it show the Da

[2021-01-07 14:40] utnaf commented on #269
Hi @waelAbass!
The old spark connector is no longer supported. Please try to use the [latest release of Neo4j Connector for Apache Spark](https://github.com/neo4j-contrib/neo4j-spark-connector/releases/tag/v4.0.0).

In the [README](https://github.com/neo4j-contrib/neo4j-spark-connector/blob/v4.0.0/README.md) you can find how to properly add it to your dependancy.

Let me know if you have any issue

[2021-01-08 11:19] JArma19 opened #273 "Neo4j Spark Connector integration with pyspark"
Hi,
I'm trying to read nodes from my local neo4jdb for practice purposes by using pyspark and neo4j connector. I've already downloaded the last version of neo4j-connector-apache-spark (2.12) and integrated it in pyspark as explained in the [repo](https://github.com/neo4j-contrib/neo4j-spark-connector) at README.
However when I try to perform a read using:
`from pyspark.sql import SparkSession
impo

[2021-01-09 12:48] conker84 commented on #272
@L4R4 I think that the problem is that you're not closing the spark session:

`spark.stop()`

[2021-01-09 12:53] conker84 commented on #273
@JArma19 are you sure that you're using spark with scala 2.12? can you please share you spark artifact name?

[2021-01-09 12:59] #261 closed, assigned to utnaf

[2021-01-09 13:00] #265 closed, assigned to utnaf

[2021-01-09 13:12] JArma19 commented on #273
@conker84  yes I'm sure. I'm using pyspark '3.0.1' version which runs on scala 2.12 according to [Spark doc](https://spark.apache.org/docs/latest/index.html)
(sorry don't know where I can find spark artifact name)

[2021-01-09 13:14] conker84 commented on #273
Ok so that's the problem, we're not supporting yet Spark `3.x` we plan to add that support during this month, in the meanwhile you should use spark >= 2.4.5

[2021-01-11 12:48] #273 closed, assigned to nobody

[2021-01-11 12:48] conker84 commented on #273
I'm closing this since we found the solution, feel free to reopen in case you need it

[2021-01-11 12:49] conker84 commented on #272
@L4R4 ping

[2021-01-11 12:49] conker84 commented on #269
I'm closing this since is related to the old connector, feel free to reopen it in case you need

[2021-01-11 12:49] #269 closed, assigned to nobody

[2021-01-11 12:53] conker84 opened #274 "Document better how using procedures in query read can influence the exectuion"
For a use case like this:

[code]

if `my.custom.procedure` has mode `write` it can block the execution of the query.

The connector now return this message:

[code]

We can:
* Document better this behaviour;
* Add a better exception message like `Please provide a valid READ query. Nota bene, if you're using procedures in your query please check that they work in READ mode`

[2021-01-11 17:52] JArma19 commented on #273
Ok, actually you solved my problem, I downgraded to 2.4.5 and finall it worked.
Thanks for your help!

[2021-01-12 13:33] L4R4 commented on #272
I think it isn't the problem I close both spark session and spark context and still the same problem I think that is when spark submmit master is a cluster, becuase i test in local and the job terminate succesfully

[2021-01-14 09:56] conker84 commented on #272
Sorry I don't understand what you mean, can you elaborate the problem?

[2021-01-14 09:56] conker84 commented on #264
@steveblackmon ping

[2021-01-14 11:39] ShipatNeo opened #276 "Cypher Syntax in Spark Connector Zeppelin Notebook"
Using the Docker Compose and the Cypher Destructuring Example from here:
https://github.com/utnaf/neo4j-connector-apache-spark-notebooks

The first Notebook entry has the following comments:

[code]

The 2 CREATE INDEX examples have incorrect syntax.  The should be:

[code]

[2021-01-14 11:42] ShipatNeo opened #277 "ModuleNotFoundError: No module named 'pyspark.functions' error when running Spark Connector Zeppelin Notebook"
When running through the Python - Cypher Destructuring Example from https://github.com/utnaf/neo4j-connector-apache-spark-notebooks, on the 3rd notebook entry, the following error is observed:

%pyspark

from pyspark.functions import col

df = spark.read.option("header",True).csv("worldcities.csv")
df.show(5)

# Do a short cleanup step: get rid of null country identifiers.
cleaned_data = df.where(

[2021-01-15 23:07] waelAbass opened #278 "ForsetiClient can't acquire ExclusiveLock"
I am using spark to read data from MySQL table  and sink in neo4j
but it give me the following exception
org.neo4j.driver.exceptions.TransientException: ForsetiClient[?] can't acquire ExclusiveLock{owner=ForsetiClient[?]} on NODE(622), because holders of that lock are waiting for ForsetiClient[?].
 Wait list:ExclusiveLock[
Client[?] waits for [0]]
how to solve this problem?

[2021-01-18 15:57] L4R4 commented on #272
Thanks for response.

I try this simple example, with the Movie database from Neo4j:

object Main extends App {

  val sc: SparkContext = {
    val conf: SparkConf = new SparkConf()
    new SparkContext(conf)
  }

  val spark = SparkSession.builder.config(sc.getConf).getOrCreate()
  val neo4jUrl = sc.getConf.get("spark.neo4j.url")
  val neo4jUser = sc.getConf.get("spark.neo4j.user")
  val neo4jPas

[2021-01-22 08:54] waelAbass opened #279 "how to set nodeOperation to "create" in mergeEdgeList method"
I am using neo4j-spark-connector version 2.4.5-M1 using spark
the default nodeOperation   in  mergeEdgeList  method is "merge"
please , help to set nodeOperation  to  "create" using spark java  as I did not find any resource to help  me on the internet

[2021-01-22 08:58] #278 closed, assigned to nobody

[2021-01-22 09:31] conker84 opened #280 "When Databricks documentation on their site is complete, add link back from our docs"
Add step-by-step guide for Databricks cloud

[2021-01-22 13:04] conker84 commented on #279
Hi @waelAbass we don't support version `2.4.5-M1` anymore, please move to the new `4.0`, you can find the documentation of the new connector here:

https://neo4j.com/developer/spark/

[2021-01-22 13:04] #279 closed, assigned to nobody

[2021-01-22 13:17] conker84 commented on #272
Please share the spark job ui status before and after the job

[2021-01-22 14:21] moxious opened #281 "Aura Integration Tests in CI Chain"

[2021-01-22 19:31] moxious commented on #262
Write to Neo4j -> direction seems fairly straightforward; the table is unbounded in size, so you keep spooling transactions at Neo4j and it effectively doesn't end until the stream drains.  That seems fine, but raises questions about the monitoring of the stream throughput over time, something to think about.

Read from <- Neo4j is different; this is possibly more connected to reactive streams com

[2021-01-26 15:37] conker84 opened #284 "Leverage Spark Config as default configuration values"
In order to avoid to the user to re-insert every time the common configurations such as connection parameters we can leverage the `SparkConf` via the current spark session in this way:

[code]

This is the mapping between `DataSourceOptions` and `SparkConf`:
| DataSourceOptions | SparkConf |
| ------------- | ------------- |
| url | neo4j.url  |
| authentication.basic.username  | neo4j.authenticat

[2021-01-26 15:39] conker84 opened #285 "Leverage Spark Version in order to return a clear error in case the is an unsupported version"
We can access to the Spark version via:

[code]

[2021-01-27 12:48] moxious opened #286 "Docs improvements - writing relationships"
Questions recently came up that were clarified with @utnaf on spark.  We already have the answers we need to these questions, this issue is just a request to clarify the docs and push those answers in, and on some minor points people got confused by the docs.

All of this is specific to writing relationships:

- In scala, it's confusing that sometimes we do `SaveMode.Overwrite` and sometimes we do

[2021-02-05 14:56] moxious commented on #266
Ensure token passing documented here is proven through to driver layer https://neo4j.com/docs/driver-manual/current/client-applications/#driver-authentication-custom

[2021-02-12 12:02] conker84 opened #289 "Test against Neo4j 4.3"
It would be cool having a docker container in:
https://hub.docker.com/r/neo4j/neo4j-experimental

[2021-02-12 12:02] conker84 commented on #289
@moxious assigned to you so you can get in touch with the eng team and ask for the container

[2021-02-12 14:19] #286 closed, assigned to nobody

[2021-02-12 14:29] moxious commented on #289
@moxious pinged Chris Gioran Feb 12 for experimental docker builds, TBD

[2021-02-12 15:08] utnaf commented on #206
Hi @usmanmunara, we just merged the Spark 3.0 support! We are not releasing it yet since we need to do some additional testing, but please feel free to use the attached jar to play around and let us know if you have any issue!

Be aware that `SaveMode.ErrorIfExists` is not supported at the moment for Spark 3.0.

[neo4j-connector-apache-spark_2.12_3.0-4.0.0.jar.zip](https://github.com/neo4j-contrib

[2021-02-16 13:51] #266 closed, assigned to utnaf

[2021-02-16 15:07] utnaf opened #291 "Cleanup build warnings"
Builds have some warnings, should be removed.

[2021-02-19 14:18] moxious commented on #192
probably subject to documentation only fix

[2021-02-25 09:27] utnaf opened #295 "Investigate on different timezone returned by the connector"
Given this pyspark script

[code]

the assertions fails, the two printed dates are:

[code]

Investigate if the two hours difference is a spark connector writing/reading issue or if it's some sort of server / client misconfiguration.

/cc @conker84

[2021-02-25 10:07] utnaf commented on #295
This Java test works

[code]

Behind the scenes we convert the DateTime to UTC both when reading https://github.com/neo4j-contrib/neo4j-spark-connector/blob/4.0/common/src/main/scala/org/neo4j/spark/util/Neo4jUtil.scala#L110 from Neo4j

and when writing to https://github.com/neo4j-contrib/neo4j-spark-connector/blob/4.0/common/src/main/scala/org/neo4j/spark/util/Neo4jUtil.scala#L159

Specifying tim

[2021-02-25 15:06] moxious commented on #295
This is a tricky one but based on what you've said, this doesn't seem surprising to me.  Whenever you use the cypher function `localdatetime()` you are going to be subject to timezone settings on whichever server is running Neo4j.  You're certainly not guaranteed to get a UTC time.

Now, what would be surprising is if you created two timestamps with the same value in this way, **took the explicit

[2021-02-26 14:54] #281 closed, assigned to utnaf

[2021-02-26 14:54] #291 closed, assigned to utnaf

[2021-02-26 15:04] moxious opened #297 "Take a look at merge relationship documentation -- how best to clarify?"
Users appear confused about save mode on relationship merges.

Crux of the issue may be that relationship writes have effectively 3 save modes: the rel, the source, and the target.

Need examples, and expansion in the docs on these points.

[2021-02-26 15:05] moxious commented on #297
@utnaf to talk to a key user about problem statement to help inform how best to explain these concepts.

[2021-02-26 19:45] cwaddingham opened #298 "index page lacks instructions for downloading the connector"
The index page should have a simple link to where, and how, one can download the connector. As is, a google search for "neo4j apache spark download" goes nowhere and results in confusion and frustration. Adding a link on this page would help immensely.

[2021-03-01 14:50] moxious opened #299 "Getting started / install docs (Databricks)"
Need a small section in documentation that describes the install procedure for Databricks specifically, and includes a link back to GitHub releases or the Neo4j home page on where you can download the plugin and how to install it.  This is currently missing.

[2021-03-01 21:20] moxious opened #300 "Troubleshooting bad ssl handshake errors with Databricks (solution found)"
This applies only to Aura -- and is recommended as a potential troubleshooting item for the documentation.

Aura may be looking at a KBase article, but since Aura highly encourages clients to use TLS ciphers that include GCM, customers using Java 8 should make sure to use recent versions of Oracle JDK (8u261 or newer) or OpenJDK (8u272 or newer) due to performance issues with AES-GCM: https://bugs

[2021-03-01 21:21] moxious commented on #300
Sample draft work-around, a shell script to be used with instantiating a databricks cluster

[code]

[2021-03-01 21:22] moxious commented on #300
thanks to @voutilad who diagnosed and spotted this issue

[2021-03-01 21:45] moxious commented on #300
For reference, here are the release notes and versions that the JDK-8201633 issue was resolved:
Oracle:
- Java 8u261: https://www.oracle.com/java/technologies/javase/8u261-bugfixes.html
- Java 11.0.2+31: https://www.oracle.com/java/technologies/javase/11all-relnotes.html

OpenJDK:
- jdk8u272: https://mail.openjdk.java.net/pipermail/jdk8u-dev/2020-October/012817.html
- jdk 11.0.4: https://mail.open

[2021-03-01 21:46] moxious commented on #300
not sure this is a "good" solution for Databricks at the moment. They clearly had a reason for disallowing GCM. From what I saw in the materials I found, it's a massive performance hit if Java ends up using it for things like Parquet. We're talking multiple orders of magnitude difference in encryption/decryption rates.

TBD:  which cipher suites are a good compromise between security, default func

[2021-03-01 22:17] voutilad commented on #300
Databricks has migrated to using Zulu's Java distribution as of at least their 7.3LTS release. (5.5LTS uses OpenJDK builds.) I've opened a ticket with Azul to see if I can get confirmation on which Zulu versions have the fix for JDK-8201633 incorporated.

Even on the most recent Databricks runtime release, they're using a Java 8 version of Zulu, so it's not clear if JDK-8201633 has been ported yet

[2021-03-01 22:29] voutilad commented on #300
According to a support engineer at Azul Systems:

This means _potentially_ Databricks 7.3LTS and any newer runtimes might not be impacted if you re-enable support for GCM.

[2021-03-01 22:47] voutilad commented on #300
For any future discoverers of this issue, you can check if your Databricks environment can support  connecting securely to Neo4j Aura using the following Scala. Put it in a workbook using a Scala runtime and check the output for at least one of the ciphers having `supported: true`:

[code]

[2021-03-03 14:20] utnaf opened #302 "Test Support for Spark 3.1"
On March 2nd Databricks released Spark 3.1 on their runtime 8.0

https://databricks.com/blog/2021/03/02/introducing-apache-spark-3-1.html?ref=Welcome.AI

Test the connector against that version to see if something breaks 🤞

[2021-03-03 14:58] smithna commented on #242
I agree. Would like to see example of best practice for constraint/index creation for a new environment as in demo above.

[2021-03-03 15:12] #260 closed, assigned to nobody

[2021-03-03 15:57] #213 closed, assigned to utnaf

[2021-03-05 07:23] utnaf commented on #300
Should we reference this issue in the FAQs section of the Spark Connector? https://neo4j.com/developer/spark/faq/

[2021-03-05 07:33] utnaf commented on #280
@conker84 can this be considered fixed by #305?

[2021-03-05 12:55] conker84 commented on #300
@utnaf please create a simple Databricks cloud notebook and link it into the documentation so anyone can clone and test the env with just a simple click.

[2021-03-05 13:47] utnaf commented on #297
We might want to create a quickstart guide that includes the most common scenarios

- I want to read data out of Neo4j with a cypher query
- I want to write a bunch of nodes
- I want to create a bunch of unique relationships between nodes
- I want to write a dataframe with a Cypher query

Also provide examples in all the languages supported by Spark, something like:

<img width="914" alt="Screen S

[2021-03-05 14:29] #299 closed, assigned to utnaf

[2021-03-05 15:01] moxious commented on #233
CLosed because we've moved to GitHub actions

[2021-03-05 15:01] #233 closed, assigned to moxious

[2021-03-08 12:44] #302 closed, assigned to utnaf

[2021-03-10 13:56] #284 closed, assigned to utnaf

[2021-03-10 13:57] #259 closed, assigned to nobody

[2021-03-12 14:09] moxious commented on #280
We will be driving this documentation onto Databricks site -- together with a PR already merged this should be sufficient.

https://docs.google.com/document/d/1GtZnEkL7Ww64bJ6Ye_3nUnBitYaoJdHgW8G60NtgtdY/edit?usp=sharing

[2021-03-12 14:11] moxious commented on #300
Leaving this ticket with the solution, but closing it because we've moved these docs into our main documentation

[2021-03-12 14:11] #300 closed, assigned to nobody

[2021-03-12 14:13] moxious opened #309 "Add R tests"
Related to / similar to this one:  https://github.com/neo4j-contrib/neo4j-spark-connector/issues/213

Tests to verify syntax / approach for R in spark

[2021-03-12 14:18] moxious commented on #214
March 12 update -- we probably won't implement this because Spark UDFs permit the use of the same computation - adding a column to a an existing dataframe.

We do need better documentation / examples on how to use Spark UDFs, but we have the existing example in @utnaf 's sample repository

[2021-03-12 14:18] #214 closed, assigned to nobody

[2021-03-12 14:19] moxious commented on #272
Closed, because we can't identify next actions here, not enough information to move forward.

[2021-03-12 14:19] #272 closed, assigned to nobody

[2021-03-15 13:24] Dineshkumarmurugan07 opened #310 "is it possible to update any empty values like "" to NULL values in NEO4J while using case statements?"
I am attaching a query, in this query we need to convert the empty strings as **NULL** values to **concat the strings to form comma-separated strings.**

[code]

[2021-03-19 13:09] moxious commented on #310
Hi @Dineshkumarmurugan07 can you please identify how this connects to your usage of the spark connector?   If you have a general question about the use of APOC and Cypher, we recommend https://community.neo4j.com/

Our team may not be the best suited to answer questions about how the APOC function work.

[2021-03-26 13:03] moxious commented on #262
Sink part -- POC in progress

[2021-03-31 14:43] #285 closed, assigned to utnaf

[2021-03-31 20:18] #310 closed, assigned to nobody

[2021-03-31 20:20] conker84 commented on #298
I'm closing since is manged by #305, feel free to reopen it in case you have new issues

[2021-03-31 20:20] #298 closed, assigned to nobody

[2021-04-01 15:46] conker84 opened #313 "Add a full roundtrip example"
In order to highlight how we export and import the data we can add a roundrip example like this:
Export
[code]
Import:
[code]

[2021-04-02 05:38] zgdgod opened #314 "some question with spark datasourcev2 api"
Sorry to disturb you, but I have some questions about spark3's datasourcev2. I only found this project on github that uses v2 api.
My problem is that v2 api in spark3 has a larger change than spark2, and I just want to simply read the schema and write to other databases. In spark2, I only need to override createWriter in WriteSupport, but in spark3 it becomes very complicated. I want to ask：

1. I

[2021-04-02 07:17] #314 closed, assigned to nobody

[2021-04-05 17:35] ashishagarwal1983 opened #315 "Not able to Insert Neo4j Map Data type using the neo4j-spark connector"
Spark 3.0.0
Scala 2.12
Neo4j 4.2.4

We have enabled apoc procedures in neo4j and getting below errror while saving the data using neo4j spark connector, We have listed schema and data example at the end of stack trace

[code]

________________________________________________________________________________________
My neo4jDF printschema output

[code]

Sample Data in neo4jDF

[code]

Used the foll

[2021-04-08 08:14] conker84 opened #320 "Prepare Feature request and bug report templates as we have for APOC"
Prepare Feature request and bug report templates as we have for APOC

[2021-04-08 09:16] utnaf commented on #315
Hi @ashishagarwal1983, we found and fixed the issue.

Please try this JAR and let us know if this fixed your issue!
[neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3.jar.zip](https://github.com/neo4j-contrib/neo4j-spark-connector/files/6277549/neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3.jar.zip)

[2021-04-09 13:28] #315 closed, assigned to nobody

[2021-04-09 13:30] #206 closed, assigned to utnaf

[2021-04-11 07:30] ashishagarwal1983 commented on #315
Thanks This jar is working for me as expected ? when is the official release planned for this ?

[2021-04-12 15:18] rosarioborgesi opened #323 "Node keys are ignored when the field is a map"
Given this DataFrame
[code]

[code]

When I try to write the dataframe:

[code]

I get the following error:

[code]

[2021-04-12 15:59] conker84 commented on #315
hi @ashishagarwal1983 we are focusing now on new features such as Structured Streaming support, I think that we can do a new release by the end of the month

[2021-04-13 13:25] purushothaman-sridharan commented on #277
from pyspark.sql.functions import col

above works, I'm on Spark 3.0.1!

[2021-04-13 19:09] masonedmison opened #325 "Unable to write relationship"
I am following the documentation to write relationships to aa neo4j db. I am able to write nodes but for relationships I get the following stack trace:
[code]

Here is the dataframe schema I am trying to write:
[code]

and my code:
[code]

I have also tried using "Overwrite" as the save.mode with the same result.

The expected behavior is of course for this to write my relationship edges.

`Scala

[2021-04-15 12:35] masonedmison commented on #325
bump

[2021-04-16 06:21] utnaf commented on #325
Hi @masonedmison

The error says
[code]

You can find more about this issue on the official docs

* https://neo4j.com/developer/spark/writing/#bookmark-save-mode
* https://neo4j.com/developer/spark/faq/#_tableprovider_implementation_org_neo4j_spark_datasource_cannot_be_written_with_errorifexists_mode_please_use_append_or_overwrite_modes_instead

So I would try this:

[code]

Let me know!

[2021-04-16 08:34] utnaf opened #326 "Schema retrieving by APOC doesn't seem to work when node.maps is true"
When reading from Neo4j (with APOC) with the option `node.maps = true`, like this:

[code]

We get this exception logged

[code]

The read completes using the manual fallback to retrieve the schema but it's not supposed to raise the error.

Neo4j version used is: 4.0

[2021-04-16 13:17] masonedmison commented on #325
Bah! I figured it would be something simple like this ha! It works now, thanks so much! I would suggest to add this aditional paramter to the documentation - I at least do not see it present [https://neo4j.com/developer/spark/writing/#bookmark-write-rel](here)

Thanks again for your time and for developing this very awesome module!

[2021-04-16 13:31] utnaf commented on #325
All good! I think we need to make it more clear 😄  Our plan is actually to support ErrorIfExists... but we are having some troubles getting through that. Hopefully it will be done in the near future.

[2021-04-16 13:31] #325 closed, assigned to nobody

[2021-04-16 17:26] samasalam opened #328 "Error when writing to neo4j"
I'm trying to save the PageRank data back to Neo4j, as the steps in [https://neo4j.com/blog/neo4j-3-0-apache-spark-connector/](url) but an error occured.

My code is as follow:

[code]
**The error:** org.neo4j.driver.exceptions.ClientException: Writing in read access mode not allowed. Attempted write to internal graph 0 (neo4j)

**Note:** everything is run well until the last line of code.

[2021-04-20 07:34] #326 closed, assigned to utnaf

[2021-04-20 10:10] samasalam commented on #328
Please anyone can help with the above issue.

[2021-04-20 14:16] conker84 commented on #328
Hi @samasalam you're using the old version of the spark which is not supported anymore please move to the new Connector:
https://neo4j.com/developer/spark/

[2021-04-20 14:16] #328 closed, assigned to nobody

[2021-04-20 15:33] samasalam commented on #328
I tried this but it doesn't work

`$SPARK_HOME/bin/spark-shell  --conf spark.neo4j.password=sama --packages neo4j-contrib:neo4j-connector-apache-spark_2.12:4.0.1_for_spark_3`

I also download the jar file and tried this but it doesn't work too:

`$SPARK_HOME/bin/spark-shell --conf spark.neo4j.password=sama --jars neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3.jar`

For this line of code:

`va

[2021-04-20 16:57] utnaf commented on #328
@samasalam the whole syntax changed in the new version, please check the documentation https://neo4j.com/developer/spark/

[2021-04-20 17:26] samasalam commented on #328
I check it and it is the same as I wrote.  As below, I brought it from the site:

`$SPARK_HOME/bin/spark-shell --packages neo4j-contrib:neo4j-connector-apache-spark_2.12:4.0.1_for_spark_3`

How should I use the packages and the jar files? where should I put them?

The only one that work is the following:

`$SPARK_HOME/bin/spark-shell  --packages neo4j-contrib:neo4j-spark-connector:2.4.5-M2`

But t

[2021-04-21 21:04] samasalam opened #329 "Error while reading from neo4j into spark"
I follow the steps in (https://neo4j.com/developer/spark/quickstart/) and use the following package:

`$SPARK_HOME/bin/spark-shell --packages neo4j-contrib:neo4j-connector-apache-spark_2.12:4.0.1_for_spark_3
`
Now, in spark shell, when I try to execute this (mentioned in the same site):

[code]

The following error occur:
**java.lang.NoClassDefFoundError: org/apache/spark/sql/sources/v2/ReadSuppor

[2021-04-22 06:19] utnaf commented on #329
What's your Spark version?

[2021-04-22 08:38] samasalam commented on #329
spark-3.1.1-bin-hadoop2.7

But I don't know scala version

[2021-04-22 09:12] utnaf commented on #329
If you downloaded Spark from here https://spark.apache.org/downloads.html you should have Scala 2.12 (if you want to be sure just run `util.Properties.versionString` from the spark shell), this means that the JAR you are using is correct.

I tried the same bit of code with the same jar and Spark and everything works for me. Can I ask you to paste the output of this command

`$SPARK_HOME/bin/spark-

[2021-04-22 17:44] samasalam commented on #329
:: loading settings :: url = jar:file:/C:/Spark/spark-3.1.1-bin-hadoop2.7/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
Ivy Default Cache set to: C:\Users\Sama\.ivy2\cache
The jars for the packages stored in: C:\Users\Sama\.ivy2\jars
neo4j-contrib#neo4j-connector-apache-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-1784c6b8-d2

[2021-04-22 21:36] samasalam commented on #329
Thanks for your help. The problem is solved.

Many Thanks :)

[2021-04-22 21:36] #329 closed, assigned to nobody

[2021-04-22 21:41] samasalam opened #331 "Applying GraphX alogorthim: PageRank"
For the example shown in (https://neo4j.com/blog/neo4j-3-0-apache-spark-connector/), how could I update it to work using  the new neo4j-spark-connector?

[code]

[2021-04-23 06:21] utnaf commented on #331
You can take a look at the GDS library's Page Rank https://neo4j.com/docs/graph-data-science/current/algorithms/page-rank/

And look at this page of the documentation https://neo4j.com/developer/spark/gds/

I suggest you to look at the documentation before opening issues since it's very exhaustive and you find examples for most scenarios.

[2021-04-23 06:21] #331 closed, assigned to nobody

[2021-04-23 14:00] conker84 opened #333 "Remove Transaction code LockClientStopped"
Remove `Neo.TransientError.Transaction.LockClientStopped` so the users can leverage the inner retry mechanism when they get a transaction lock error

[2021-04-23 15:28] asethia opened #334 "Bintray shutting down - plan for maven2"
Hi,

As we know

"JFrog announced that they will be shutting down Bintray and JCenter. A complete shutdown is planned for February 2022"

Any plan to move Maven 2 repository?

Thanks

[2021-04-27 11:01] #333 closed, assigned to nobody

[2021-04-30 13:19] moxious commented on #334
Need access to correct code signing keys from engineering to get this done and we will look into a TeamCity job which may delegate this

[2021-05-04 13:20] moxious opened #337 "Possible multi-partitioning happening when partitions(1) for read queries"
Reported by a customer but also replicated by me.

[code]

The error is this:

[code]

Now, when you try to create duplicate graphs in GDS this error is predictable.   Note the use of `.options("partitions", "1")`.

We need to double check on this.  The error itself is OK and doesn't cause harm because the query does create the GDS virtual graph.  But this error suggests that something is being ex

[2021-05-04 13:24] moxious commented on #337
@utnaf found this reference indicating that single partition should be single task and shouldn't be multi-threaded.  We know of no reason why the underlying driver would multi-thread either (although each driver instance does maintain a connection pool) https://stackoverflow.com/questions/47782099/what-is-the-relationship-between-tasks-and-partitions

[2021-05-04 14:18] utnaf commented on #337
At the current status this behaviour is "honest". Meaning that, for read operations, we first execute the query to extract the schema of the DataFrame, then we execute the query to get the data, and here happen the second execution.

At the moment there is no workaround. The solution is to implement the user specified schema support for our DataSource (available for both Spark 2.4 and Spark 3). Th

[2021-05-04 14:38] moxious commented on #337
Notes for later:

- Spark is tightly schema bound so we have to determine shape of resulting schema
- If, in order to do this in Neo4j, we have to execute the query this is going to make running GDS queries via the connector not the best approach as some of them will always be extremely expensive (for example running a big graph compute)
- Partially because of this I'm spiking [gds-python](https:/

[2021-05-05 03:47] kennyishihara opened #339 "Error downloading neo4j-contrib:neo4j-connector-apache-spark_2.11:4.0.1_for_spark_2.4"
I'm using the below in build.sbt

[code]

and it is giving me an error

[code]

[2021-05-05 07:12] utnaf commented on #339
Hi, sorry but I think we have a naming issue. Can you please try using `4.0.1` instead of `4.0.1_for_spark_2.4`?

[code]

I will update the docs today. Thank you

[2021-05-05 07:20] kennyishihara commented on #339
@utnaf I am still getting the same error.

Could it be due to bintray service shutting down? Appears from this tweet https://twitter.com/bintray/status/1388211300635856896 that the service was shut down May 1st, 2021. Just a few days ago.

I would like to know if others can replicate this error.

Thank you!

[2021-05-05 07:26] utnaf commented on #339
Bintray has been sunset, the repo should be usable until Feb 2022.

I link #334. It's about moving to Maven 2.

I'll make some tests later in the morning and get back to you asap.

[2021-05-05 08:15] badrinathpatchikolla commented on #339
Facing a Similar issue I think bintray service is down for both the versions of neo4j spark connector

[code]
[code]

[2021-05-10 09:30] karunaish opened #342 "java.lang.NoClassDefFoundError: org/apache/spark/sql/sources/v2/ReadSupport - error"
I have created a new databricks cluster with the following libraries installed.
Cluster version - 7.6 (includes Apache Spark 3.0.1, Scala 2.12)

spark_cdm_connector_0_19_1.jar
neo4j_connector_apache_spark_2_12_4_0_1_for_spark_3.jar
com.microsoft.azure:spark-cdm-connector:0.19.1 - maven file
neo4j-contrib:neo4j-connector-apache-spark_2.12:4.0.1_for_spark_3 - maven file

But while loaing CDM data fr

[2021-05-10 12:47] conker84 commented on #342
@karunaish can you share the screens about how you installed the package?

[2021-05-10 13:08] karunaish commented on #342
Hi

I have downloaded the Jar files and uploaded in my databricks cluster library.

https://user-images.githubusercontent.com/82949543/117663966-20014980-b199-11eb-9581-e3b7ad872782.png

[2021-05-10 13:11] conker84 commented on #342
You have two neo4j jars please delete both and add one via maven

[2021-05-10 13:21] karunaish commented on #342
You mean I have to delete both JAR and keep maven fies alone

[2021-05-10 13:30] karunaish commented on #342
Does spark-cdm-connector-assembly-0.19.1.jar support spark 3.0 version?

https://user-images.githubusercontent.com/82949543/117666231-8dae7500-b19b-11eb-9684-ef1b7241e1fa.png

Can you see this image take from https://github.com/Azure/spark-cdm-connector/blob/master/documentation/overview.md

So in that case though "neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3.jar" connector supports spark v

[2021-05-10 13:31] conker84 commented on #342
we're not the owners of that plugin, so I don't know

[2021-05-10 13:32] karunaish commented on #342
Ok Thank you for your replies

[2021-05-10 13:32] #342 closed, assigned to nobody

[2021-05-11 07:42] utnaf commented on #339
Quick update, we are getting the same issue. Until we figure this out I suggest you to download the JAR directly from [here](https://neo4j.com/product/connectors/apache-spark-connector/) or from the [release page](https://github.com/neo4j-contrib/neo4j-spark-connector/releases).

[2021-05-11 08:40] #337 closed, assigned to utnaf

[2021-05-11 08:41] #323 closed, assigned to conker84

[2021-05-11 09:40] utnaf opened #343 "Add documentation for Spark Structured Streaming"
As title says, add the documentation for using the connector with Spark Structured Streaming

View #262

[2021-05-12 09:44] karunaish opened #345 "Loading 22 Mil + records into neo4j database via databricks environment"
I am using neo4j spark connector and via databricks environment - I have loaded 22 Mil records into neo4j database and While establishing relationships for this 22mil records with the query

[code]

Though the required relationships got established in neo4j database. The spark job is hanging and no updates are being written.

Is there a way to make the query more efficient so once the relationship

[2021-05-12 09:46] conker84 commented on #345
@karunaish as I said in the APOC issue we also need the code of the spark job and the structure of the source dataframe

[2021-05-12 09:55] karunaish commented on #345
Hi

Structure of the source Dataframe:

[code]

Step 1 ) Have created index and Constraints initially and loaded the data into neo4j desktop with the below code:

[code]

Step 2) : Loaded Journal Line Item into neo4j database similiar to step 1

Step 3 ) Establishing relationships between both using the following code

[code]

While running above query I'm facing the subjected issue.

[2021-05-12 10:18] conker84 commented on #345
This is not working because for each row you are scanning all the `(jh:JournalHeader)` into the database while, if I understood correctly it's enough to get the current one described by the `JournalLineItemdf` row:
[code]

If the `uuid` in the `JournalLineItemdf` is the uuid of `JournalHeader`

[2021-05-12 10:47] karunaish commented on #345
Hi

Thanks for the query . This query is getting completed from databricks end. But no updates in Neo4j Database. Please check the below screenshots.

https://user-images.githubusercontent.com/82949543/117962849-96c45100-b317-11eb-8d14-73cd57ccd1a4.png

No updates in neo4j end :  Below Screenshot:

https://user-images.githubusercontent.com/82949543/117962904-aba0e480-b317-11eb-95d5-6653df1ce8be.pn

[2021-05-12 10:50] conker84 commented on #345
This is something that you need to figure out in your data model, the only thing that I can do is to provide you a guideline, you need to check how you can get `MATCH (jh:JournalHeader{uuid: event.<your_row_column>})` returning a node

[2021-05-12 11:04] conker84 commented on #345
Btw did you define an index for `JournalLineItem(glheader_id)`? I saw that you defined it only for `JournalHeader(glheader_id)`

[2021-05-12 11:10] karunaish commented on #345
Yes I have defined Index for both JournalHeader and JournalLineItem.

JournalLineItemdf.write.format("org.neo4j.spark.DataSource")\
                     .option("url", "bolt://xxx.com:7687")\
                     .option("authentication.type", "basic")\
                     .option("authentication.basic.username", "xxx")\
                     .option("authentication.basic.password", "xxx")\

[2021-05-13 05:14] surbhigupta546 opened #347 "Neo4j Spark Connector integration with pyspark"
Hi,
I'm trying to read nodes from my local neo4jdb for practice purposes by using pyspark and neo4j connector. I've already downloaded the last version of neo4j-connector-apache-spark (2.12) and integrated it in pyspark as explained in the repo.

Spark version :- 3.0
neo4j-connector used :- neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3

when I am trying to run the peice of code in pycharm :-

[2021-05-13 05:18] surbhigupta546 commented on #347
I have already placed the jar in %SPARK_HOME%/jars

[2021-05-13 05:21] surbhigupta546 commented on #347
@utnaf @conker84 @moxious

[2021-05-13 05:58] surbhigupta546 commented on #347
https://community.neo4j.com/t/neo4j-spark-connector-integration-with-pyspark-using-pycharm/38250
Raised in Neo4j community as well.

[2021-05-13 07:07] utnaf commented on #347
Hi @surbhigupta546, sorry for the delay but we are in a different timezone and I personally was sleeping. I'm running some tests and will get back to you.

[2021-05-13 07:11] surbhigupta546 commented on #347
Thanks @utnaf .

[2021-05-13 08:33] utnaf commented on #347
I tried with Databricks environment, command line Pyspark, and also with a Zeppelin notebook. I wasn't able to reproduce the issue.

Can you give me the details of how you are trying to run the code? Python version, exact Spark version (3.0.1 I guess?).
Can you paste the whole output of the error?

[2021-05-13 09:02] surbhigupta546 commented on #347
Set Environment variables PYSPARK_PYTHON  & SPARK_HOME
I am using Pycharm with Anaconda (conda 4.9.2).
I configured the interpreter with Conda and placed the pyspark and py4j from my spark folder to  (C:\Software\Annaconda\envs\pyspark3\Lib\site-packages) {pyspark3 --> folder where my project is located}.
Using Pyspark (__version__='3.0.0.dev2')
Then :-
I have placed the jar(connector) in the %SPA

[2021-05-13 09:05] surbhigupta546 commented on #347
Please try using Pycharm and Anaconda if possible , cause I dont have an option to use Zeppelin notebook.

[2021-05-13 09:10] utnaf commented on #347
I see you are using a non-stable version of pyspark, please use a stable version (3.0.2 or 3.1.1) and let me know.

You can also clone this repository https://github.com/utnaf/neo4j-connector-apache-spark-notebooks and run `docker-compose up` and you have a fully working Zeppelin environment with notebook examples and a Neo4j database.

You can play around with that, I also just pushed a new noteb

[2021-05-13 10:23] surbhigupta546 commented on #347
Thanks @utnaf . I had upgraded the pyspark version and it worked!

[2021-05-13 10:30] utnaf commented on #347
Great to hear. I'll close this and I'll update the question on the community as well.

[2021-05-13 10:30] #347 closed, assigned to nobody

[2021-05-19 07:44] karunaish opened #348 "repartition(1) - Makes loading very slow"
Hi

When I load 20 Million records from spark  - Databricks into neo4j when I mention repartition (1) While writing into neo4j - It takes a lot of time for loading all the records. If I didnt mention repartition(1) it is failing with database not upto the requested version error. How to overcome this?

[2021-05-19 07:52] conker84 commented on #348
Hi @karunaish you should add more infos otherwise we're not able to assist you:
* the code of your spark job
* the Databricks runtime specs
* the Neo4j specs (cluster/single?)
* what do you mean by `very slow`? can you give us a quantity of time?
Thank you

[2021-05-19 07:59] conker84 opened #349 "Add GH templates for opening Bug issues and Feature Requests as we have in APOC"
We need to be more explicit about what we need when a user opens an issue and need help because most of the time we have requests like "it doesn't work" and this brings to a lot of backs-and-forths trying to understand how we can effectively help him

[2021-05-19 08:03] conker84 commented on #348
we also need:
* the structure of your dataframe
* did you define the constraints/indexes?

[2021-05-19 08:04] karunaish commented on #348
1) the code of spark job

`JournalLineItemdf.repartition(1).write.format("org.neo4j.spark.DataSource")\`
		 `.mode("overwrite")\`
		 `.option("url", "bolt://xxx:7687")\`
		 `.option("authentication.type", "basic")\`
		 `.option("authentication.basic.username", "xxx")\`
		 `.option("authentication.basic.password", "xxx")\`
		 `.option("database", "mydb")\`
		 `.option("labels","JournalLineItem")\`

[2021-05-19 08:04] conker84 commented on #348
@karunaish

@karunaish please we also need this

[2021-05-19 08:09] karunaish commented on #348
1) structure of dataframe

`uid:string`
`glline_id:string`
`glheader_id:string`
`amount:float`
`amountCreditDebitIndicator:string`
`amountCurrency:string`
`approvedBy:string`
`approvedDateTime:date`
`businessUnitCode:string`
`customerID:string`
`jeLineDescription:string`
`fiscalYear:integer`
`glAccountNumber:string`
`journalEntryType:string`
`journalId:string`
`journalIdLineNumber:integer`
`lastMo

[2021-05-19 08:23] #345 closed, assigned to nobody

[2021-05-19 08:49] utnaf opened #350 "Fix error on Python Tests"
Python tests are failing due to

[code]

[2021-05-19 09:27] conker84 commented on #348
Please read this guide:
https://neo4j.com/developer/spark/faq/#_how_can_i_speed_up_writes_to_neo4j
Bascally you need to tune the option `batch.size` and adjust the parameter partition:

[code]

You should "repartition" to a sustainable number according to your Neo4j instance configuration please try something between 1 and 10

Your batch size should be defined according to your Neo4j instance conf

[2021-05-19 09:53] karunaish commented on #348
@conker84 Thank you .Will try the mentioned parameters

[2021-05-19 13:23] #350 closed, assigned to nobody

[2021-05-19 14:27] #349 closed, assigned to utnaf

[2021-05-19 14:27] #262 closed, assigned to utnaf

[2021-05-19 14:36] moxious opened #354 "Change org of package to org.neo4j for maven central publishing"
We need to update the pom to publish to groupId `org.neo4j` so that JARs can be published under neo4j's key on maven central.

Note that this ticket must also make changes to the documentation, because when we change the maven coordinates it impacts installation advice we have in the manual right now.

TBD: whether we issue a patch release just for the coordinate change.

This change will enable p

[2021-05-19 14:58] moxious commented on #354
@conker84 re-opening.  Note that the ticket needs to concern documentation and quickstart coordinates such as here https://neo4j.com/developer/spark/quickstart/

[2021-05-19 15:31] conker84 commented on #354
@moxious closing via bb38be4

[2021-05-19 16:10] karunaish commented on #348
Hi @conker84

If I gave repartition as 10 or any other number except 1 - I'm getting the below error:

Caused by: [CIRCULAR REFERENCE: org.neo4j.driver.exceptions.TransientException: Database 'new1' not up to the requested version: 523. Latest database version is 517]

Total record  count 23,000,000

Time taken -  1hours 22mins 34s 116ms and it got failed after loading (15,360,000) records .

the

[2021-05-20 07:49] conker84 commented on #348
what is the batch size?

[2021-05-20 10:35] karunaish commented on #348
Hi Batch size is  - 20000

[2021-05-20 10:37] conker84 commented on #348
I forwarded this to the Neo4j java driver team, in the meanwhile please use partition(1) with the batch size

[2021-05-20 10:39] karunaish commented on #348
Sure Thanks

[2021-05-20 12:22] conker84 commented on #348
@karunaish If I share a jar with you are you willing to test it?

[2021-05-20 12:29] karunaish commented on #348
@conker84 - yes do share with me. I can test it from my end.

[2021-05-20 13:51] conker84 commented on #348
[neo4j-connector-apache-spark_2.11-4.0.2_for_spark_2.4.jar.zip](https://github.com/neo4j-contrib/neo4j-spark-connector/files/6516432/neo4j-connector-apache-spark_2.11-4.0.2_for_spark_2.4.jar.zip)

@karunaish thank you

[2021-05-21 07:09] conker84 commented on #348
@karunaish any feedback on this?

[2021-05-21 13:17] moxious commented on #354
Related https://github.com/neo4j-contrib/neo4j-spark-connector/issues/334

[2021-05-21 13:20] #320 closed, assigned to nobody

[2021-05-21 15:24] karunaish commented on #348
Hi @conker84 I have added the respective JAR file into the cluster libraries and tried running the above query for 22 Million records with the same previously mentioned configurations and query with repartition(10) and batch Size - 20000. But it got failed after running for 1.47 hours it loaded (16,801,798) records and failed with the below error.

Database 'abc' not up to the requested version: 5

[2021-05-24 09:26] conker84 commented on #348
@karunaish Can you try with a fresh Databricks cluster instance?

[2021-05-24 10:24] aresa7796 opened #357 "ERROR Neo4jDataWriter: Cannot commit the transaction because: Expected parameter(s): event"
## Expected Behavior (Mandatory)
My python code:
[code]

## Actual Behavior (Mandatory)
I got a crash log:
[code]

## Specifications (Mandatory)

Currently used versions

### Versions

- Spark: PySpark 3.1.1
- Python: 3.7.10
- Neo4j: 4.2.6
- Neo4j Connector: neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3.jar

[2021-05-24 10:26] aresa7796 commented on #357
Hi, @utnaf Can you help me?

[2021-05-24 13:49] utnaf commented on #357
Hi, try this query

[code]

basically removing the `$` from `$event`.

Let me know.

[2021-05-24 16:17] utnaf opened #358 "Fix timezone issues in tests"
## Feature description

Make sure that the container (provided by testcontainers) executing the code for some integration tests has the same timezone as the JVM executing the test.

[2021-05-25 01:44] aresa7796 commented on #357
Hi, @utnaf , I try use this query,I got a log.

[code]

[2021-05-25 04:14] utnaf commented on #357
Can you please paste the whole code you are using?

This is my test example and it works well with the movie graph

[code]

![Screenshot 2021-05-25 at 06 12 31](https://user-images.githubusercontent.com/1318539/119438396-666db100-bd20-11eb-9b39-56702d337338.png)

[2021-05-25 07:30] aresa7796 commented on #357
Hi, @utnaf I try use this code, I got a log.
code:
[code]

log:
[code]
### Version
- Spark: PySpark 3.1.1
- Python: 3.7.10
- Neo4j: 4.2.6 Community
- Neo4j Connector: neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3.jar

[2021-05-25 07:53] utnaf commented on #357
Super weird. I was able to replicate it by using pyspark cli, but not with pyspark on a Databricks runtime with same exact versions. I'm looking into it.

By the way, are you just using pyspark in a python script right?

[2021-05-25 08:10] aresa7796 commented on #357
Yes, I just using pyspark in python script.
I use `spark-submit` to run script.
[code]

[2021-05-25 08:26] aresa7796 commented on #357
Hi, @utnaf ,I use pyspark-cli,got some error.

command:
[code]

log:
[code]

[2021-05-25 08:29] utnaf commented on #357
Thank you.

If error is clear and always the same, no need to paste it every time, creates confusion.

[2021-05-25 09:06] utnaf commented on #357
Do you mind trying to downgrade to Spark 2.4.* (I used pyspark 2.4.5) and trying the same code but with the jar named `neo4j-connector-apache-spark_2.12-4.0.1_for_spark_3.jar` that you can find [here](https://github.com/neo4j-contrib/neo4j-spark-connector/releases/tag/4.0.1).

There is most likely a problem with Spark 3.0, I'll investigate. Let me know if it works with Spark 2.4.5

[2021-05-25 13:35] utnaf commented on #357
@aresa7796 ok we found the deal. That error is a non-error. Your script should have worked anyway. That error is just a bad log that I'm removing now.

Can you confirm that, even if you get the error, the script worked ?

[2021-05-26 02:40] aresa7796 commented on #357
Hi, @utnaf ,I try use pyspark 2.4.8. There is no error log this time, but the record is not written.

[2021-05-26 03:00] aresa7796 commented on #357
Hi, @utnaf  I try use pyspark 2.4.8, this version is ok. thank you.

[2021-05-26 12:18] conker84 commented on #348
@karunaish ping

[2021-05-26 12:22] karunaish commented on #348
@conker84 - We will create a fresh cluster and check on it and will update you.

[2021-05-27 09:51] conker84 opened #361 "Change constraint naming convention"
If we have one dataframe with two columns [id:nullable,name:nullable] and two spark jobs like:

Job 1:
[code]

Job 2:
[code]

Under the hood we try to create two constraints:

Job 1:
[code]

Job 2:
[code]

The second constant will not be created because of the same name, we need to add the property into the constraint naming convention.

[2021-05-27 13:37] axololtl1997 commented on #354
Hello,
When will neo4j-spark-connector be moved to maven2 repo?
Also, will versions compatible with older versions of spark (2.2.x) be uploaded on the maven2 repo?
Thanks again

[2021-05-27 15:44] moxious commented on #354
@axololtl1997 update, we are working on this during this week.   Example URLs are right here: https://search.maven.org/search?q=g:org.neo4j%20AND%20a:neo4j-connector-apache-spark_2.11

We're not quite finished publishing all of the artifacts and verifying that it works in the install processes we need to support, but we're actively working on this right now.

[2021-05-27 17:04] moxious commented on #354
The 2.2.x versions of the connector are deprecated, not supported, and will not be moved to maven central

[2021-05-27 18:20] asethia opened #362 "CIRCULAR REFERENCE: org.neo4j.driver.exceptions.ClientException"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use the Neo4j Connector for Apache Spark,
please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/integrations/18) instead of creating an issue here.

## Expected Behavior (Mandatory)

Using Merge command as custom query it should override the data.

## Ac

[2021-05-27 19:01] asethia commented on #362
fixed by using https://neo4j.com/docs/java-reference/current/transaction-management/

using MERGE and Set

[2021-05-27 19:01] #362 closed, assigned to nobody

[2021-05-28 07:13] utnaf commented on #361
Just for clarity, the new names will be `spark_NODE_CONSTRAINTS_City_name` and `spark_NODE_CONSTRAINTS_City_id`.

Correct?

[2021-05-28 08:01] conker84 commented on #348
@karunaish any news?

[2021-05-28 08:06] karunaish commented on #348
Hi @conker84 When I tried with fresh cluster instance with DBR runtime version - 6.4 Extended Support (includes Apache Spark 2.4.5, Scala 2.11, and if I use repartition 10 - It is giving same error.

But however if I mention repartition(1) - with batch size - 30000 for 22 MIL records compared to the previous version of JAR with the new one loads are happening much faster.

[2021-05-28 08:07] conker84 commented on #348
@karunaish can you share the dataset and the notebook? Or give us access to them.
We're not able to reproduce your problem

[2021-05-28 08:09] karunaish commented on #348
hi @conker84 - I will check on this and will update you.

[2021-05-28 12:01] utnaf commented on #339
Hi there! Closing the issue because now the Neo4j Connector for Apache Spark is available on maven 🎉

https://search.maven.org/search?q=g:org.neo4j%20AND%20a:neo4j-connector-apache-spark_2.12
https://search.maven.org/search?q=g:org.neo4j%20AND%20a:neo4j-connector-apache-spark_2.11

You can follow the instructions on the documentation https://neo4j.com/developer/spark/quickstart/#_using_maven

[2021-05-28 12:01] #339 closed, assigned to nobody

[2021-05-28 12:02] utnaf commented on #334
Hi there! Closing the issue because now the Neo4j Connector for Apache Spark is available on maven 🎉

https://search.maven.org/search?q=g:org.neo4j%20AND%20a:neo4j-connector-apache-spark_2.12
https://search.maven.org/search?q=g:org.neo4j%20AND%20a:neo4j-connector-apache-spark_2.11

You can follow the instructions on the documentation https://neo4j.com/developer/spark/quickstart/#_using_maven

[2021-05-28 12:02] #334 closed, assigned to nobody

[2021-05-28 12:35] conker84 commented on #361
Yes but also. `spark_NODE_CONSTRAINTS_Person_name-surname` for multiple keys

[2021-05-28 13:03] moxious commented on #354
@axololtl1997 publishing complete as of now.

[2021-05-28 13:03] #354 closed, assigned to nobody

[2021-05-28 13:08] praveenkumarb1207 commented on #339
Hey ! I am using the new connector version 4.0.2_for_spark_2.4 for scala 2.11 and scala 2.12 with spark version 2.4.5.

I am getting the below error while writing to neo4j using connector with scala 2.11 and spark 2.4.5

[code]

The same version is working for scala 2.12 and spark 2.4.5 when writng to neo4j.

Do you have any solution for the scala 2.11 and spark 2.4.5 version ?

[2021-05-28 13:19] asethia commented on #334
@utnaf  Thanks for the quick release.

[2021-05-28 13:24] utnaf commented on #339
Hi! Can you tell me which exact version for the connector you are using?

If you need to make it work for Scala 2.11 and Spark 2.4.5 you should use this one https://search.maven.org/artifact/org.neo4j/neo4j-connector-apache-spark_2.11/4.0.2_for_spark_2.4/jar

[2021-05-28 13:32] praveenkumarb1207 commented on #339
I am using

"org.neo4j:neo4j-connector-apache-spark_2.11:4.0.2_for_spark_2.4" -  for scala 2.11 and spark 2.4.5 - getting the error as I mentioned earlier

"org.neo4j:neo4j-connector-apache-spark_2.12:4.0.2_for_spark_2.4" - for scala 2.12 and spark 2.4.5 -  Working

[2021-05-28 13:35] utnaf commented on #339
Can you please open a new issue and sharing the code? Thank you

[2021-05-28 13:37] praveenkumarb1207 commented on #339
Sure . Thank you !

[2021-05-31 08:13] conker84 commented on #348
@karunaish ping

[2021-06-03 08:03] conker84 opened #364 "Add tests to Neo4j 4.3"
images are public at `neo4j/neo4j-experimental:4.3.0-preview` and `neo4j/neo4j-experimental:4.3.0-preview-enterprise`

[2021-06-03 16:17] lakshmannikhil commented on #348
Hi @conker84 I am a colleague of Karuna, I am gonna continue working on this, will provide you with the requested information soon. Please let me know a convenient time to discuss this. One thing is even though original issue was raised with the repartition even if we don't repartition we keep running into the same error. I have looked at stackoverflow as well where people are having same errors
h

[2021-06-04 10:18] lakshmannikhil opened #366 "Apache Spark Databricks is not finishing the job and not termintiating even after the relationships are created properly."
Hi
We are creating relationship between existing nodes in the database using the below query from databricks.

[code]

This query creates the required relationships, However it is not finishing the job as you can see from the below screenshot

![image](https://user-images.githubusercontent.com/30304701/120785987-55584780-c54b-11eb-9ed3-3a4bc2dc768b.png)
If you look at the stderr from the 3rd task

[2021-06-04 13:07] #357 closed, assigned to nobody

[2021-06-04 13:40] moxious commented on #366
@lakshmannikhil it appears that in this code, you aren't really trying to write a data frame, but you're executing a generic cypher query by using the spark connector.   The reason I am saying this is because the `event` variable is not referenced in your Cypher query.

Writing dataframes with Cypher queries using this connector expects that you're going to use that `event` variable.  If you want

[2021-06-04 13:53] lakshmannikhil commented on #366
@moxious Hi will try a general java or scala load,As far as your question is concerned, We were using the Dataframe to write nodes so we just reused the same format for the relationship query and expected that it should be able to execute without any issues.

We will see if a generic Scala or Java load works and reach out in case of any questions. Thanks for your quick response

[2021-06-04 15:16] moxious commented on #366
@lakshmannikhil the same format does work _if you refer the event variable in the query_.  But the entire purpose of the connector is to bind data from a dataframe into a Cypher query in the end.  So to run a query without an event variable works around the purpose of what the connector is trying to do.

There's nothing wrong with wanting to run generic cypher queries separate from a dataframe.  W

[2021-06-04 15:24] lakshmannikhil commented on #366
Understood that we are working on the alternate approach that you have suggested, I am closing this.

Thank you

[2021-06-04 15:24] #366 closed, assigned to nobody

[2021-06-04 16:59] lakshmannikhil commented on #366
@moxious Can you show an example of how i can change the default database while running from java or scala

**We tried as shown below**

import org.neo4j.driver.{AuthTokens,GraphDatabase}
import org.neo4j.driver.Transaction

val driver = GraphDatabase.driver("bolt://***********:7687/", AuthTokens.basic("****", "******"))

val session = driver.session
val result=session.run("use testdbpart;")
val t

[2021-06-04 17:34] moxious commented on #366
@lakshmannikhil this is just a regular cypher error.  Here:

[code]

is not a valid cypher query.  What you should instead do is use the session API to run your later query against that database.  Check the session API in the java driver docs, and don't use the "USE" syntax

[2021-06-07 18:48] #361 closed, assigned to utnaf

[2021-06-10 12:59] utnaf commented on #295
I think this will be fixed by #358

[2021-06-10 15:18] utnaf opened #369 "Values in filters should be set via parameters"
Right now the values in the filters are written directly in the query:

[code]

[code]

When they actually should be passed as parameters to the query.

[2021-06-14 23:39] conker84 opened #370 "Sort Partitions by internal ID"
For the partitioning, we use the skip/limit mechanism, and as described into the [docs](https://neo4j.com/docs/cypher-manual/current/clauses/skip/)

[code]

we need to allow to the use to define an order by cause.

Unfortunately, unlike pushdown filters, we cannot catch `orderBy` ops of a dataframe and we need to allow something like this:

[code]

[2021-06-18 13:06] #364 closed, assigned to utnaf

[2021-06-18 13:07] #358 closed, assigned to nobody

[2021-06-18 13:23] moxious commented on #370
Do not use extra parameters in this case but for generated cypher queries always ORDER BY id(n) ASC

[2021-06-18 13:47] olegbogutskyy-ayasdi opened #373 "Relationships creating with option "query""
Hi,
I want to create nodes and relations based on dataframe.
I divided long complex cypher query to nodes only and relations only.
So nodes part can be run with batch option and processed in parallel, and it works just fine.
On other hand I need relations part be processed not in parallel to avoid LockClient exception. But LockClient exception raises . Can't understand why, does transactions run i

[2021-06-21 08:05] utnaf commented on #373
Hi! Can you tell me please which version of Spark and connector are you using?

[2021-06-21 16:07] olegbogutskyy-ayasdi commented on #373
Hi, spark version 3.0.1 and neo4j-connector-apache-spark_2.12_3.0-4.0.0.jar

[2021-06-21 16:28] utnaf commented on #373
Is the dataframe partitioned? What's the output of `df.rdd.getNumPartitions`?

If it's greater than 1 you might want to repartition it to 1.

If I got this correctly, this [FAQ](https://neo4j.com/developer/spark/faq/#_my_writes_are_failing_due_to_deadlock_exceptions) explains the issue better.

[2021-06-22 07:36] praveenkumarb1207 opened #375 "neo4j connector not getting downloaded from maven"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use the Neo4j Connector for Apache Spark,
please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/integrations/18) instead of creating an issue here.

## Expected Behavior (Mandatory)

As the package is in maven , it should be downloaded and should be able

[2021-06-22 08:16] utnaf commented on #375
Hi @praveenkumarb1207, we are looking into the issue. In the meantime please consider using the JAR directly as mentioned [here](https://neo4j.com/developer/spark/quickstart/#_where_to_get_the_jars).

[2021-06-22 14:20] utnaf commented on #375
Just wanted to tell you that if you use Scala 2.12 and Spark 2.4 it should be working. The issue appears to be only on Scala 2.11 and Spark 2.4.

[2021-06-23 12:41] olegbogutskyy-ayasdi commented on #373
oh my gosh, it's 12!!! Thanks for that! Now it makes sense

[2021-06-23 12:43] #373 closed, assigned to nobody

[2021-06-24 08:09] AnudeepKonaboina opened #378 "Neo4j connector for spark3 is not getting downloaded"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use the Neo4j Connector for Apache Spark,
please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/integrations/18) instead of creating an issue here.

## Expected Behavior (Mandatory)
The connector for neo4j for spark 3.x should be downloaded from maven us

[2021-06-24 09:55] utnaf commented on #378
Hi @AnudeepKonaboina
you should use the latest 4.0.2 version of the connector that is deployed on Maven. Please try with this command

[code]

Note the `4.0.2_for_spark_3` version at the end of the command.

[2021-06-25 07:37] utnaf commented on #378
@AnudeepKonaboina is it working?

[2021-06-25 07:42] AnudeepKonaboina commented on #378
@utnaf , its working thanks

[2021-06-25 07:46] utnaf commented on #378
Cool, closing

[2021-06-25 07:46] #378 closed, assigned to nobody

[2021-06-25 14:58] praveenkumarb1207 commented on #375
Hi @utnaf  , as suggested we are currently using jars .  Please let us know  if this issue gets fixed

[2021-06-25 15:22] utnaf commented on #375
Sure, I'll ping you in this thread

[2021-07-13 14:20] moxious commented on #348
is there a next step on this ticket?

[2021-07-13 14:23] #264 closed, assigned to nobody

[2021-07-13 14:24] #252 closed, assigned to nobody

[2021-07-13 14:57] lakshmannikhil commented on #348
Hi

Please close i was monitoring the VM metrics and found some 100% spikes there which might have caused things to not work.

[2021-07-13 15:02] #348 closed, assigned to nobody

[2021-07-14 00:02] RGEv1L opened #381 "Cannot import relationships properly from Neo4j sample Movie database and can;t select columns in Pyspark"
spark: 3.0.3
pyspark: 3.0.3
scala: 2.12
neo4j connector: neo4j-connector-apache-spark_2.12:4.0.1_for_spark_3

[code]

i get this error:
[code]

but when I run dfr.columns , I get these.
['<rel.id>', '<rel.type>', '<source.id>', '<source.labels>', 'source.name', 'source.born', '<target.id>', '<target.labels>', 'target.title', 'target.tagline', 'target.released', 'rel.roles']

but I am being able to

[2021-07-14 06:20] utnaf commented on #381
Hi! Can you trying using the 4.0.2 version and let me know if the error still there?

[2021-07-14 08:44] #369 closed, assigned to utnaf

[2021-07-14 17:21] RGEv1L commented on #381
@utnaf  still getting the same error and also cannot select the columns as well

[code]

dfr.show()

[code]

dfr.columns

[code]

dfr.select('<rel.id>')

[code]

[2021-07-14 17:49] utnaf commented on #381
I'm having troubles understanding what code gives you this error

[code]

This code you posted in the initial issue is correct and works properly since you can show the content of the dataframe.

[code]

And it works for me too:
![Screenshot 2021-07-14 at 19 47 03](https://user-images.githubusercontent.com/1318539/125668584-55c109db-6b30-4dbc-a40b-37c746cc2bdf.png)

So I guess you're doing somethi

[2021-07-14 18:45] RGEv1L commented on #381
yeah, it works with this approach. Thanks a lot.
But what about the error?

[2021-07-14 19:30] RGEv1L commented on #381
I am fetching relationships using the custom query in spark and it seems to work fine and the labels are also working fine. It's just the connectors seems to not work with relationship field.

[2021-07-15 05:12] utnaf commented on #381
Can you please give me the code that causes the error?

[2021-07-15 15:24] RGEv1L commented on #381
when i decleare the dfr.. using neo4j connector like this, it suddenly throws error.
v = spark.read.format("org.neo4j.spark.DataSource")\
...     .option("url", "bolt://3.137.143.193:7687")\
...     .option("authentication.basic.username", "neo4j")\
...     .option("authentication.basic.password", "2aca4d3e-fa5b-4f4a-8974-c2adf32e3620")\
...   .option("pushdown.columns.enabled", "false")\
...   .o

[2021-07-15 15:28] RGEv1L commented on #381
exactly when i declare the dfr and hit load() at the end of the declaration, I see this error.

[code]

[2021-07-15 15:30] RGEv1L commented on #381
complete code:
[code]

[2021-07-15 15:37] utnaf commented on #381
I see here in your second comment that you still able to invoke `dfr.show()` and to print the content, is it still the case?

[2021-07-15 15:46] RGEv1L commented on #381
yup.

[2021-07-15 15:47] RGEv1L commented on #381
[code]

although i am able to load labels  properly using default method, and I am using custom queries like above currently, but it gives error only when fetching using relationships

[2021-07-15 15:49] RGEv1L commented on #381
at a point, it gave me this error as well about too many labels `apoc.meta.stats`

[2021-07-15 15:50] utnaf commented on #381
Then I'm pretty sure that a non-error, or a bad log... would you mind trying again using this JAR?

[neo4j-connector-apache-spark_2.12-4.0.2_for_spark_3.jar.zip](https://github.com/neo4j-contrib/neo4j-spark-connector/files/6824525/neo4j-connector-apache-spark_2.12-4.0.2_for_spark_3.jar.zip)

[2021-07-16 17:15] RGEv1L commented on #381
@utnaf
I have used 4.0.0, 4.0.1 and 4.0.2 , but non of them seems to fix the issue!

[2021-07-19 07:00] utnaf commented on #381
It's not an issue, if you can keep using the dataframe (ie: you can do `dfr.show()` and it shows the content). It's just a bad log, I'll try to fix it later this week.

[2021-07-19 07:00] utnaf commented on #381
Please try the latest pre-release that came out last friday https://github.com/neo4j-contrib/neo4j-spark-connector/releases/tag/4.0.3-pre

[2021-09-01 00:49] MustangYun opened #383 "If a node has already been created, you want to establish a relationship without creating a node, but duplicate nodes occur."
## Feature description (Mandatory)
Nodes have already been created in the past, but if you add only a relationship, a duplicate node is created again.

## Considered alternatives

![image](https://user-images.githubusercontent.com/41107901/131594064-026706b9-33ae-4cd3-9dd5-29a7991cc041.png)

There is a table containing the customer's subscription information and a table containing information abou

[2021-09-02 09:26] utnaf commented on #383
Hi @MustangYun, can you share the Apache Spark code that causes this issue? Which version of Spark, Scala and connector are you using?

Thank you

[2021-09-03 02:01] MustangYun commented on #383
안녕하세요. Davide Fantuzzi 님처음으로 인사드립니다.영어를 잘 못해서 구글번역기를 사용합니다. 먼저 저의 github 게시판에 제기한 문제를 풀어주시려고 직접 메일까지 보내주셔서 감동 받았습니다. 현재 제가 사용하는 버전을 공유드립니다. 릴리스 레이블:emr-6.3.0Hadoop 배포:Amazon 3.2.1애플리케이션:Hue 4.9.0, Spark 3.1.1, Oozie 5.2.1, Zeppelin 0.9.0 그리고 제가 구성한 데이터 파이프라인과 상황을 설명해드리면ORACLE(12.X) 에서 AWS EMR에서 읽습니다. 그때 scala 코드를 사용하고 있고, 각 ROW들을 Neo4j docker로 보내서 Node로 만듭니다.Node를 생성하지 않고 Relationship 모델만을 생성할 데이터

[2021-09-07 14:10] conker84 commented on #383
Did you define constraints on `Customer(CUST_NO)` and `Customer(interest_NO)`?

[2021-09-09 13:59] conker84 commented on #383
@MustangYun ping :)

[2021-09-10 13:06] #370 closed, assigned to utnaf

[2021-09-14 06:39] mroiter-larus opened #384 "Unable to write relationships using saveMode.Append and source/target saveMode.Match"
## Expected Behavior (Mandatory)

A customer reports that, as per the documentation, it should be possible writing relationships to neo4j without overwriting nodes, with save modes `Append` and `Match` as given below.

[code]

## Expected Behavior (Mandatory)

It should create the relationships.

## Actual Behavior (Mandatory)

They get the following error:

[code]

### Versions

- Spark: 2.4.5/op

[2021-09-14 07:26] AnhQuanTran commented on #295
@utnaf  I use neo4j server version 4.1.6 and neo4j browser 4.2.1 and neo4j-connector-apache-spark_2.12-4.0.2_for_spark_3.jar. In above issue, from version 4.0.1 fixed this error. But i still encountered it
I tried:
- Set time zone on server setup spark to Asia/Ho_Chi_Minh (check with date command)
- Set time zone on spark sql to Asia/Ho_Chi_Minh (check with spark.conf.get("spark.sql.session.timeZo

[2021-09-14 08:18] AnhQuanTran commented on #295
@utnaf  i tried neo4j-connector-apache-spark_2.12-4.0.3-pre_for_spark_3.jar but it still not work

[2021-09-14 12:07] utnaf commented on #295
Hi @AnhQuanTran, can you give me the code you are trying to execute, the error that is happening and your expected result?

[2021-09-15 16:12] conker84 opened #386 "Streaming Source dups record in Databricks env"
Streaming Source dups record in Databricks env, as explained by @moxious here:

https://github.com/neo4j-contrib/neo4j-spark-connector/pull/346#discussion_r708169710

[2021-09-16 02:50] AnhQuanTran commented on #295
@utnaf  This is my source code
df if a spark dataframe

df.write.format("org.neo4j.spark.DataSource")\
            .option("url", neo4j_credential['url'])\
            .option("authentication.type", "basic")\
            .option("authentication.basic.username", neo4j_credential['username'])\
            .option("authentication.basic.password", neo4j_credential['password'])\
            .option("da

[2021-09-17 09:40] conker84 commented on #381
@RGEv1L any feedback on this?

[2021-09-17 09:47] conker84 commented on #295
Yes it's expected because we internally convert Spark `Timestamp` types to UTC datetime

[2021-09-17 10:11] AnhQuanTran commented on #295
@conker84 so how to keep timezone on neo4j same as dataframe spark. Can i change some option or config neo4j-spark connector?

[2021-09-28 13:56] baskar1981 opened #388 "Cypher query - Read parallel"
Hi,
I am using the below script to download 1 million data from Neo4j.
    Neo4j neo4j = new Neo4j(sparkSession.sparkContext());
    Dataset<Row> neo4jrecords=null;
    neo4jrecords = neo4j.cypher(query, params).partitions(4)
        .batch(25000)
        .loadDataFrame(fields);

When I pass the partition as 1, it downloads all the unique records. If i pass the partition value as more than 1, it d

[2021-10-01 06:28] utnaf commented on #388
Hi @baskar1981, you are using an unsupported version of the connector. Please use the latest you can find here https://github.com/neo4j-contrib/neo4j-spark-connector/releases/tag/4.0.2

Docs available here https://neo4j.com/developer/spark/

[2021-10-04 13:57] baskar1981 commented on #388
Thanks. I have made the changes and tried to execute the below code. But I am getting an error.

[code]

[code]

If I remove the partition from the above code, I was able to download the records from the neo4j.

Could you please help me on how to implement async download from the neo4j?

[2021-10-04 14:45] utnaf commented on #388
is this your query?

`CALL { MATCH(a:User) where a.active=true RETURN a.email_string }`

I suggest you to just use `MATCH(a:User) where a.active=true RETURN a.email_string`

You probably don't need partitions while reading, remove the partition option and you can repartition afterwards.

[2021-10-04 14:54] baskar1981 commented on #388
I am just passing the below query.
MATCH(a:User) where a.active=true RETURN a.email_string. I am not sure why this match was wrapped inside Call method.

How can we implement the batch with the parallel download similar to the below apoc query?
call apoc.export.csv.query("MATCH(a:User) where a.active=true return aa.email_string","/tmp/results2.csv",**{{batchSize:10000, parallel:true}});**

[2021-10-06 18:43] joeljgeorge commented on #375
Did this end up getting fixed?

[2021-10-19 08:15] utnaf commented on #375
Hey all, not yet I'm sorry. We need to wait the next release to fix it. You can download the JAR directly from the [release page](https://github.com/neo4j-contrib/neo4j-spark-connector/releases) or from the [Neo4j Connector page](https://neo4j.com/product/connectors/apache-spark-connector/).

[2021-10-19 08:24] conker84 commented on #388
@baskar1981 `apoc.export.csv.query` does not provide that behaviour at all. If you provide those optional parameters they don't affect the procedure. If you want parallelize via apoc you need to combine `apoc.periodic.iterate` and `apoc.export.csv.query`.

In spark you can parallelize a query with a job like this:

[code]

is important to configure the `query.count` option in order to allow the co

[2021-10-20 08:04] conker84 opened #389 "Check Support For Spark 3.2"
Verify if the plugin works with Spark 3.2 that has been just released:

https://spark.apache.org/releases/spark-release-3-2-0.html

[2021-10-22 14:35] #386 closed, assigned to nobody

[2021-10-26 13:43] conker84 commented on #389
With Spark 3.2 Databricks introduced also the official support for Scala 2.13

[2021-10-26 13:44] conker84 commented on #388
Hi I'm closing this for lack of feedback, feel free to reopen if you have anything new to share

[2021-10-26 13:45] conker84 commented on #381
I'm closing this for lack of feedback, feel free to reopen in case you have new info

[2021-10-26 13:45] #381 closed, assigned to nobody

[2021-11-09 16:58] conker84 opened #391 "Support Spark 3.2 DatasourceV2 Aggregate pushdown"
With [SPARK-34952](https://issues.apache.org/jira/browse/SPARK-34952) released in version 3.2, Spark added aggregate pushdown; we can plan to support it in the connector.

[2021-11-12 14:08] conker84 opened #392 "Add neo4j 4.4 in the test pipeline"
Add neo4j 4.4 in the test pipeline

[2021-11-23 14:49] baskar1981 commented on #388
Hi,
I have implemented the changes using the below library. It was working for more than 5 days. Then I have started to see the below error. I am using neo4j version  Neo4j 3.5.12.
Error: 2021-11-23 13:19:56.018 ERROR 4261 --- [  restartedMain] org.neo4j.spark.service.SchemaService    : Query not compiled because of the following exception:

org.neo4j.driver.exceptions.TransientException: Database

[2021-11-23 15:04] baskar1981 commented on #388
Hi,
I have implemented the changes using the below library. It was working for more than 5 days. Then I have started to see the below error. I am using neo4j version  Neo4j 3.5.12.
Error: 2021-11-23 13:19:56.018 ERROR 4261 --- [  restartedMain] org.neo4j.spark.service.SchemaService    : Query not compiled because of the following exception:

org.neo4j.driver.exceptions.TransientException: Database

[2021-11-23 15:11] conker84 commented on #388
Can you try with the last released version? It’s 4.1.0

[2021-11-23 15:18] baskar1981 commented on #388
I think I had some issue on the latest version. Hence I have switched to the old version. Anyway I will update the new connector and get back to you with a result.

[2021-12-06 14:31] baskar1981 commented on #388
Hi,
I have used the 4.1.0 connector. The performance of my job increased from 1:30 hrs to 4 to 6 hours to complete the neo4j download and insert the result into the azure sql. I didn't change any code change for using the new connector. I am not sure why the performance was impacted when using the new connector.

[2021-12-06 16:19] conker84 commented on #388
That's odd the 4.1.0 release focused on Streaming Support. Can you please add the code of the Spark job and the indexes/constraints defined in your database?

[2021-12-06 21:47] funkjo opened #395 "Could not perform discovery for database. No routing server available."
Getting this error when trying to write data to neo4j using neo4j spark connector in a databricks notebook. Spark connector version: neo4j-contrib:neo4j-connector-apache-spark_2.12:4.0.1_for_spark_3

[code]

[code]

This code successfully writes data to a separate neo4j database when tested.

[2021-12-09 15:49] conker84 commented on #388
We're closing this for lack of feedback, feel free to reopen in case you have more info to share

[2021-12-09 15:49] #388 closed, assigned to nobody

[2021-12-12 15:23] lorenz-nlp opened #396 "Shutdown bintray repo in docs"
The documentation provides a maven repository to add in order to retrieve the neo4j-spark-connector packages. However, this repository does not longer exist (dl.bintray.com). Therefore, the documentation should be updated and the correct repository should be given:

[code]

### Steps to reproduce

1. Clean the local maven repository
2. Perform mvn clean install on a project with dependency to neo4

[2022-01-06 19:16] #395 closed, assigned to nobody

[2022-01-10 09:54] conker84 commented on #383
Closed for lack of feedback feel free to reopen it in future

[2022-01-10 09:54] #383 closed, assigned to nobody

[2022-01-10 09:55] conker84 commented on #343
closed via 4f6da98

[2022-01-10 09:55] #343 closed, assigned to utnaf

[2022-03-08 14:18] conker84 opened #412 "Add section about interacting with DHWs"
Add section about interacting with DHWs that covers the following data sources:

- [ ] Snowflake
- [ ] RedShift
- [ ] Synapse
- [ ] BigQuery

[2022-03-10 10:33] cpuwar opened #414 "Py4JJavaError: An error occurred while calling o46.load"

[2022-03-12 10:50] #414 closed, assigned to nobody

[2022-03-31 18:41] surendrameda opened #422 "Multiple Relationships can build with in the same data frame ? Like Relationship array, source array keys, source node array props..is that possible ?"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use the Neo4j Connector for Apache Spark,
please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/integrations/18) instead of creating an issue here.

## Feature description (Mandatory)
A clear and concise description of what you want to happen. Add any co

[2022-04-05 18:12] voutilad opened #423 "NullPointerException when writing relationships"
Using PySpark with `neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar`. If I set an option like `relationship.properties` to `None`, it triggers an NPE:

[code]

Either the error should be caught, and a more helpful error emitted, or it should treat `None` or it should ignore any `None` values.

[2022-04-06 15:06] #375 closed, assigned to nobody

[2022-04-07 08:51] #423 closed, assigned to nobody

[2022-04-14 09:08] conker84 commented on #422
Please don't use the title for describing the problem, I had a hard time looking for where the description of the issue was.

The answer to your question is yes, you have to use a custom cypher query like described in the documentation:
https://neo4j.com/docs/spark/current/writing/#write-query

[2022-04-14 09:08] #422 closed, assigned to nobody

[2022-04-14 12:53] conker84 commented on #396
closed via #427

[2022-04-14 12:53] #396 closed, assigned to nobody

[2022-04-14 12:53] #392 closed, assigned to nobody

[2022-05-04 10:15] pecollet opened #429 "Add a way to pass cypher parameters to read queries"
## Feature description (Mandatory)
Currently when reading from neo4j with a cypher query, there's no way to cleanly pass in [parameters](https://neo4j.com/docs/cypher-manual/current/syntax/parameters/) to the query.

ex :

[code]

That could be implemented as an extra `.option("query.param", ...)`.
Note : that feature could also apply to "write" queries, although they already have access to the `e

[2022-05-04 11:33] moxious commented on #429
@pecollet you're partially running into limitations of the Spark DataSource API.   While you could have an `.option("query.param")` I believe there are some limitations on data types you can pass this way; they're generally strings.  So if you wanted to pass an integer (or god forbit a geospatial point) you'd end up having to send a param string and then putting extra cypher in there to do type co

[2022-05-09 03:51] laosun1115 opened #430 "I got an exception,but I can't handle it"
### Versions

- Spark:2.4
- Scala:2.11
- Neo4j:3.5.14
- Neo4j Connector:neo4j-spark-connector

When I use spark.dataframe to write data to neo4j,the application running for a long time not over,then i see the `debug.log`,it throws an exception

I've been looking online for a long time,but no solution was found,please help me,thank you
[code]

Here is the code I used
[code]

[2022-05-23 08:38] conker84 commented on #430
Hi @laosun1115 you're using a deprecated version of the spark connector, please migrate to the new one.
You can take a look to the documentation:
https://neo4j.com/docs/spark/current/
Cheers
Andrea

[2022-05-23 08:38] #430 closed, assigned to nobody

[2022-05-23 10:13] #429 closed, assigned to nobody

[2022-06-20 12:21] conker84 opened #434 "Column with list of maps is not correctly handled"
Given the following job

[code]

## Expected Behavior (Mandatory)

The ingestion should be fine

## Actual Behavior (Mandatory)

We get a `ClassCastException`

[2022-07-08 14:34] conker84 opened #437 "Retrieving the schema for a custom query extracts the whole database"
Retrieving the schema for a custom query extracts the whole database.

[2022-07-22 07:02] #389 closed, assigned to nobody

[2022-07-22 07:03] #434 closed, assigned to nobody

[2022-07-22 07:52] #437 closed, assigned to nobody

[2022-07-22 07:59] #412 closed, assigned to nobody

[2022-08-29 10:25] conker84 opened #442 "Support Neo4j Java Driver URL resolvers"
Implement resolvers function of the java driver:

https://neo4j.com/docs/java-manual/current/client-applications/#java-driver-resolver-function

[2022-08-31 17:00] #442 closed, assigned to nobody

[2022-09-03 04:01] cybersam commented on #242
At the very least, this error message should include the same error message that the neo4j browser would show.

[2022-09-07 03:42] hshah-infa opened #444 "Fields in Neo4j Types of LocalTime and Time are being written as individual fields instead of single Struct Field"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use the Neo4j Connector for Apache Spark,
please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/integrations/18) instead of creating an issue here.

## Expected Behavior (Mandatory)
When dataframe contains Temporal types such as LocalTime and Time, they

[2022-09-14 13:03] Nevernamed commented on #150
with Neo4j 4.1 how can i select the database?

[2022-09-14 16:37] Nevernamed opened #446 "how can i select another db but not the default neo4j database in Enterprise Edition"
- Spark:3.1.1
- Scala:1.2
- Neo4j:4.1
- Neo4j Connector:4.5

df = spark.readStream \
    .format("org.neo4j.spark.DataSource") \
    .option("url", "neo4j://IP:7687") \
    .option("labels", "Person") \
    .load()

it's error when i add
 .option("database", "studentdb") \

[2022-09-15 09:55] conker84 commented on #150
@Nevernamed you are using deprecated APIs please check the docs for then new connector:

https://neo4j.com/docs/spark/current/

[2022-09-16 09:41] conker84 commented on #446
Which error?
Can you share the full name of the neo4j connector?

[2022-09-16 11:23] Nevernamed commented on #446
neo4j-connector-apach-spark_2.12-4.1.5_for_spark_3.jar

`df = spark.read.format("org.neo4j.spark.DataSource")
    .option("url","")
    .option("auth~username","")
    .option("auth~password","")
    .option("database","studentdb")
    .option("labels","studengs")
    .load()

df.show()
`
it's empty
is it not support other neo4j database, only default neo4j?

[2022-09-16 16:45] Nevernamed commented on #446
neo4j-connector-apach-spark_2.12-4.1.5_for_spark_3.jar

`df = spark.read.format("org.neo4j.spark.DataSource")
    .option("url","")
    .option("auth~username","")
    .option("auth~password","")
    .option("database","studentdb")
    .option("labels","studengs")
    .load()

df.show()
`
it's empty
is it not support other neo4j database, only default neo4j?

[2022-09-17 12:28] conker84 commented on #446
Sorry but if you don’t attach the stacktrace I cannot understand what is
the problem.

Il giorno ven 16 set 2022 alle 18:45 Kerwin Chou ***@***.***>
ha scritto:

[2022-09-17 16:16] N13T opened #447 "Deleting nodes and/or relationships via the connector"
Hi team, can someone share if there's any best practice on how to do large deletes of nodes/relationships via the connector?

Currently we got this to work but its very slow, we manage to delete only around 7k nodes in a minute.
[code]

[2022-09-30 00:04] hshah-infa commented on #444
Created a pull request: https://github.com/neo4j-contrib/neo4j-spark-connector/pull/450

[2022-11-04 14:42] ThatDaveStevens opened #451 "Issue : Specifying the id field mappings between a relationship data frame and a node data frame"
## Expected Behaviour (Mandatory)
Loading a data frame from a parquet file of Node data, and push that data frame to Neo4J – it works fine, with the column names being preserved (including colons) as property names on the Nodes.

But we run into an issue when we attempt to load relationship data, where we need to specify the mapping between the columns in the relationship data frame and the associ

[2022-11-04 14:50] ThatDaveStevens opened #452 "Issue : When updating node data via the Spark Connector"
## Actual Behavior (Mandatory)
When we use the Spark Connector with a Save Mode of Overwrite, it’s necessary to define an option “node.keys” to specify the key field to identify the node.

When the target field has a name containing a colon, the parsing appears to stop at the colon.

For example, with a CSV file like so;

`"txtBeforeColon:txtAfterColon"`
`"Eric"`
`"Fred"`

Calling the Spark Connec